body {
    background-color: #F0F0F0;
}

.card {
    width: 50%;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
   
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    background-color: #549d64;
}
a {
    text-decoration: none;
}

@media  screen and (max-width: 500px) {
    .card{
        width: 100%;
        margin-top: 15%;
    }
}